@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-white: #FFF;

  --clr-neutral-100: hsl(0, 0%, 85%);
  --clr-neutral-400: hsl(0, 0%, 50%);
  --clr-neutral-700: hsl(0, 0%, 25%);

  --clr-brand-primary-100: hsl(231, 100%, 85%);
  --clr-brand-primary-400: hsl(230, 100%, 50%);
  --clr-brand-primary-700: hsl(230, 100%, 25%);
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("/fonts/TT Norms Pro Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "TT Norms Pro";
  src: url("/fonts/TT Norms Pro Medium.otf");
  font-weight: 600;
}
@font-face {
  font-family: "TT Norms Pro";
  src: url("/fonts/TT Norms Pro Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "TT Norms Pro";
  src: url("/fonts/TT Norms Pro Light.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Comfortaa";
  src: url(/fonts/Comfortaa-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Comfortaa";
  src: url(/fonts/Comfortaa-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Indie Flower';
  src: url(/fonts/IndieFlower-Regular.ttf);
}

.home-carousel > .swiper-wrapper {
  transition-timing-function: linear;
}

.list-services li {
  position: relative;
}

.list-services li:after {
  content: '';
  display: block;
  position: absolute;
  top: 18px;
  left: -13px;
  z-index: 5;
  height: 40px;
  border-left: var(--clr-brand-primary-400) 2px dashed;
}

.list-services li:last-of-type:after {
  border: none;
}

.list-services li:before {
  content: '';
  display: block;
  position: absolute;
  background-color: #FFF;
  top: 15px;
  left: -15.5px;
  z-index: 10; 
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: var(--clr-brand-primary-400) 2px solid;
}

.list-services-numbered {
  counter-reset: services-counter;
}

.list-services-numbered li {
  counter-increment: services-counter;
  position: relative;
}

.list-services-numbered li::before {
  content: counter(services-counter);
  position: absolute;
  top: -0.5rem;
  padding: 3px;
  padding-right: 5px;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--clr-brand-primary-400);
  display: block;
  width: 35px;
  height: 40px;
  background-image: url( '/svg/services_list_marker.svg' );
  background-repeat: no-repeat;
}
